---
import { CImage, CLink } from "@/components/ui"
import { cn } from "@/utils/cn"

import type { ImageMetadata } from "astro"

interface Props {
  title: string
  description: string
  image: string | ImageMetadata | null | undefined
  href: string
  reverse?: boolean
}

const { title, description, image, href, reverse = false } = Astro.props
---

<div class="flex flex-wrap gap-4 md:gap-6 xl:gap-8">
  {/* Left: Image */}
  <div class={cn("w-full md:w-[min(45%,602px)]", reverse && "md:order-1")}>
    <CLink href={href} class="pt-[47%] h-full c-img">
      <CImage src={image} alt={title} />
    </CLink>
  </div>

  {/* Right: Content */}
  <div class="flex-1 space-y-3">
    <h3 class="title-head">
      {title}
    </h3>
    <div class="s-content" set:html={description} />
    <CLink href={href} class="btn"> Xem chi tiết </CLink>
  </div>
</div>
